// css img, button, heading, title, input, elements, components...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  &.--center {
    margin: 0 auto;
    display: block;
  }
}

a {
  text-decoration: none;
}

// css article (nội dung chi tiết bài viết)
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // font-family: ib; // font bold
    display: block;
  }

  h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    margin: 0 0 0.67rem 0;
  }

  h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    margin: 0 0 0.75rem 0;
  }

  h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    margin: 0 0 0.83rem 0;
  }

  h4 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    margin: 0 0 1.12rem 0;
  }

  h5 {
    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
    margin: 0 0 1.5rem 0;
  }

  h6 {
    font-size: 0.67rem;
    margin: 0 0 1.67rem 0;
  }

  p {
    margin: 0 0 1.12rem 0;
  }

  ol,
  ul {
    list-style: initial;
    padding-left: 18px;
  }

  img {
    display: inline-block;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: 25px auto;
  }

  .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 25px auto;

    iframe,
    video {
      position: absolute;
      @include size(100%);
      top: 0;
      left: 0;
    }
  }

  @include xs {
    img {
      margin: 20px auto;
    }
  }
}

.fnt-freight {
  font-family: "freight-big-pro", serif;
}

.typo {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;

  &--caption {
    font-size: 1.4rem;
    line-height: 140%;
  }

  &--small {
    font-size: 2rem;
    line-height: 2.7rem;
  }

  &--label {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  &--overline {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &--subtitle {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  &--button {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }

  &--headline {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  &--title {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 3.8rem;
  }

  &--display {
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.3rem;
  }
}

.color {
  &--white {
    color: $white-cl;
  }

  &--dark {
    color: $dark-cl;
  }

  &--gold {
    color: $gold-cl;
  }

  &--gray {
    color: $gray-cl;
  }

  &--gray1 {
    color: $gray1-cl;
  }

  &--gray2 {
    color: $gray2-cl;
  }

  &--gray3 {
    color: $gray3-cl;
  }
}

.cursor {
  @include size(1.5rem);
  border-radius: 50%;
  background: transparent;
  border: 1px solid #b0b0b0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  pointer-events: none;
  transition: 0.6s width, 0.6s height;
  color: #fff;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: max-content;
    z-index: 999;
  }

  &.active {
    @include size(40rem);
    transition: 0.8s width, 0.8s height;
    cursor: none;
  }

  &.active-drag {
    .content {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.4rem;
    }
  }

  @include sm {
    display: none;
  }
}

#js-cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #b0b0b0;
  pointer-events: none;
  // transition: ease-out 0.1s !important;
}
