@import "../../styles/core/variables";

#residences {
  padding-top: 20.4rem;
  padding-bottom: 20.4rem;
  position: relative;

  .residences__cursor--drag {
    position: absolute;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: $gold-cl;
    color: $white-cl;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-transform: uppercase;
    }
  }

  .residences-top {
    margin-bottom: 17.9rem;

    p {
      vertical-align: text-top;
      margin-top: 1rem;
    }

    &__title {
      // width: 69.6rem;
      h3:first-child {
        letter-spacing: 0.08rem;
      }

      h3 {
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 7.2rem;

        span {
          font-weight: 400;
          font-size: 7.6rem;
          line-height: 8.2rem;
        }
      }
    }

    .slider-pages {
      margin-bottom: 1rem;

      .pages {
        &--current {
          margin-right: 4rem;
        }

        &--total {
          color: $gray2-cl;
        }
      }
    }
  }

  .residences-bottom {
    .residences-slider {
      &__item {
        position: relative;
        .slider-item {
          &__img {
            object-fit: cover;
            position: relative;
          }

          &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: var(--gap);

            .content__top {
              .content {
                &__index {
                  margin-top: -1.7rem;
                  margin-bottom: 6rem;
                }

                &__title {
                  margin-bottom: 4rem;
                }

                &__attribute {
                  display: flex;
                  align-items: center;
                  gap: 4rem;

                  .attribute__item {
                    display: flex;
                    gap: 1.2rem;
                  }
                }
              }
            }

            .content__bottom {
              position: relative;
              .content {
                &__desc {
                  text-align: justify;
                }

                &__more {
                  margin-top: 8rem;
                  display: flex;
                  align-items: flex-end;
                  gap: 1.2rem;

                  p {
                    line-height: 3.8rem;
                  }
                }

                &__img {
                  width: 56rem;
                  height: 42.5rem;
                  overflow: hidden;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }
            }
          }
        }
      }

      .vertical-divider {
        margin: 0 var(--gap);
        width: 1px;
        height: 100%;
        background: $gray2-cl;
      }
    }
  }

  .residences__call-to-action-button {
    position: absolute;
    width: 40rem;
    height: 40rem;
    // left: 50%;
    bottom: 12rem;
    // transform: translateX(-50%);
    background-color: #c793581a;
    color: $gold-cl;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
