<section id="location" class="js-location">
  <div
      class="hover"
      data-content="Discover Location"
      data-bgcolor="#ffffff"
      data-color="#c79358"
      data-size="40rem"
    >
  <div class="location-top container container_row">
    <div class="grid grid-cols-22">
      <p class="typo--overline color--gray3">Location</p>
      <div class="location-top__title col-start-4 col-span-11">
        <h3>
            Positioned in the heart of District 2 to enjoy the  
          <span class="title--highlight fnt-freight color--gold">most relaxing views</span>
            of Ho Chi Minh city
      </div>
    </div>
  </div>
  <div class="location-bottom container">
    <div class="grid grid-cols-22">
      <ol class="location-bottom__list col-start-4 col-span-3">
        <li class="list__item">
          <p class="item__index color--gold mb-12">01</p>
          <p class="item__headline typo--headline">The best District in the city</p>
        </li>
        <li class="list__item">
          <p class="item__index color--gold mb-12">02</p>
          <p class="item__headline typo--headline">The whole view of Saigon River</p>
        </li>
        <li class="list__item">
          <p class="item__index color--gold mb-12">03</p>
          <p class="item__headline typo--headline">Security is always the priority</p>
        </li>
      </ol>

      <div class="location-bottom__img col-start-10 col-span-5">
        <img src="/assets/img/img-2.jpg" alt="Picture 2">
      </div>

      <div class="location-bottom__content col-start-19 col-span-4">
        <div class="content__text">
          <p class="content__text__title typo--headline">The best District in the city</p>
          <p class="content__text__desc">The spectacular 15 into 13 room corner residence is perfectly positioned on Fifth Avenue to enjoy the absolutely dazzling views of Central Park</p>
        </div>
        <img class="content__img" src="/assets/img/img-2.jpg" alt="Picture 2">
      </div>
    </div>
  </div>
</div>

    <!-- <div class="location__call-to-action-button">
      <p class="typo--button">View all Locations</p>
    </div> -->
</section>
