<section id="about" class="js-about">
  <div class="about-slider">
    <div
      class="slider-item hover"
      data-content="Discover Design"
      data-bgcolor="#ffffff1a"
      data-color="#fff"
      data-size="319px"
    >
      <div class="slider-item__img">
        <img src="/assets/img/hero.jpg" alt="Product 1" />
      </div>
      <!-- <div class="container"> -->
      <div class="slider-item__content container">
        <div class="box grid grid-cols-22">
          <div class="box_head col-span-9">
            <h2 class="fnt-freight">
              Find a home that<br />
              suits your lifestyle
            </h2>
          </div>
          <div class="box_ttl col-start-1 col-span-2">
            <p class="typo--overline color--white">SUPERIOR</p>
          </div>
          <div class="box__content col-start-12 col-span-5">
            <p>
              Built on centuries of tradition and dedicated to innovating the
              luxury real estate industry, Masteri Centre Point offers
              transformative experiences through a global network of exceptional
              and outstanding agents.
            </p>
          </div>
          <div class="box__number col-start-4">
            <p class="typo--display color--white">02</p>
          </div>
          <div class="slider-pages typo--label">
            <p class="pages pages--current">02</p>
            <p class="pages pages--total">/03</p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>
