<section id="contact">
  <div class="contact">
    <div class="container">
      <p class="typo--overline">Contact</p>
      <div class="contact-top grid grid-cols-22">
        <p class="contact-title col-span-7">Location</p>
        <div class="contact-top__map col-span-6">
          <img src="/assets/img/img-4.jpg" alt="Map" />
          <div class="contact-top__map-pointer"></div>
        </div>
        <div class="contact-top__content col-span-4 col-start-17">
          <ol class="contact-top__list">
            <li class="list__item">
              <p class="item__index color--gold mb-8">Address</p>
              <p class="item__headline tracking-wider">
                19-23, Masteri An Phu Apartment, 179 Xa Lo Ha Noi, Ward Thao
                Dien, Dist. 2, HCMC
              </p>
            </li>
            <li class="list__item">
              <p class="item__index color--gold mb-8">Contact</p>
              <p class="item__headline tracking-wider">
                +84 39 159 159 <br />
                contact@masteri.com.vn<br />
                sale@masteri.com.vn
              </p>
            </li>
          </ol>
        </div>
      </div>

      <div class="contact-bottom grid grid-cols-22">
        <p class="contact-title col-span-7">Let's get in touch</p>
        <form class="col-span-12">
          <ol class="contact-bottom__input-list">
            <li class="contact-bottom__input-item fnt-freight">
              <input type="text" placeholder="Your name" />
            </li>
            <li class="contact-bottom__input-item fnt-freight">
              <input type="email" placeholder="Email address" />
            </li>
            <li class="contact-bottom__input-item fnt-freight">
              <input type="text" placeholder="Company you are working" />
            </li>
            <li class="contact-bottom__input-item fnt-freight">
              <!-- <textarea placeholder="Thing you want to tell us"></textarea> -->
              <input placeholder="Thing you want to tell us" />
            </li>
          </ol>

          <button class="submit-btn" type="submit">
            <p class="typo--button">Submit Form</p>
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.66666 16H28.3333"
                stroke="#C79358"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
                stroke-linejoin="bevel"
              />
              <path
                d="M20 6.66663L29.3333 16L20 25.3333"
                stroke="#C79358"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
                stroke-linejoin="bevel"
              />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
