<header class="header js-header absolute top-0 left-0 right-0 z-[9999]">
  <div class="container-fluid header_container h-[100%]">
    <div class="container_row header_container_row grid grid-cols-22 h-[100%]">
      <div class="logo header_logo col-span-2">
        <a class="logo" href="/">MASTERI</a>
      </div>
      <div class="header_menu menu col-span-7 col-start-16">
        <ul class="menu_list">
          <li class="menu_item">
            <a href="#about"> About </a>
          </li>
          <li class="menu_item">
            <a href="#residences">Residences</a>
          </li>
          <li class="menu_item">
            <a href="#location">Location</a>
          </li>
          <li class="menu_item">
            <a href="#gallery">Gallery</a>
          </li>
          <li class="menu_item">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
