<div id="footer">
  <div class="footer container">
    <div class="footer__top">
      <div class="grid grid-cols-22">
        <div class="footer__left color--white col-span-10">
          <div class="footer-logo">
            <img src="/assets/svg/logo.svg" alt="MASTERI LOGO" />
          </div>
          <div class="footer-contact">
            <p class="footer-contact__name">Masteri Centre Point</p>
            <p class="footer-contact__location tracking-wider">
              179 Xa Lo Ha Noi, Ward Thao Dien, Dist. 2, Ho Chi Minh City
            </p>
            <p class="footer-contact__location">+84 934 88 6553</p>
            <p class="footer-contact__location">Sale@Masteri.com.vn</p>
          </div>
        </div>

        <!-- <div class="footer__right color--white col-span-11"> -->
        <div class="footer-site color--white col-span-4">
          <div class="footer-site__title">
            <p class="typo--label">Quicklinks</p>
          </div>
          <ol class="footer-site__link typo--small">
            <li><a href="#about"> Home </a></li>
            <li><a href="#contact"> Contact Us </a></li>
            <li><a href="#residence"> Our Residences </a></li>
            <li><a href="#location"> Discover Location </a></li>
            <li><a href="#gallery"> View Gallery </a></li>
          </ol>
        </div>
        <div class="footer-site color--white col-span-4">
          <div class="footer-site__title">
            <p class="typo--label">Residences</p>
          </div>
          <ol class="footer-site__link typo--small">
            <li><a href=""> Deluxe Apartment </a></li>
            <li><a href="">Superior Apartment</a></li>
            <li><a href="">Top Apartment</a></li>
            <li><a href="">2BR Apartment</a></li>
            <li><a href="">Balcony Apartment</a></li>
          </ol>
        </div>
        <div class="footer-site color--white col-span-4">
          <div class="footer-site__title">
            <p class="typo--label">Social</p>
          </div>
          <ol class="footer-site__link typo--small">
            <li><a href="">Facebook</a></li>
            <li><a href="">YouTube</a></li>
            <li><a href="">Email</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Linkedin</a></li>
          </ol>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <div class="footer__bottom color--white">
      <div class="grid grid-cols-22">
        <a class="typo--caption col-span-10">Masteri Centre Point</a>
        <a class="typo--caption col-span-3 col-start-12">Terms & Conditions</a>
        <a class="typo--caption col-span-3 col-start-16">Privacy Policy</a>
        <p class="typo--caption col-span-3 col-start-20 text-right">©2020</p>
      </div>
    </div>
  </div>
</div>
